body {
  background-color: black;
  color: #dddddd;
  font: 15px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#menu, #content {
  padding: 10px 0;
  margin: 10px auto 20px;
  width: 705px;
}

#menu {
  background-color: #333333;
}

#menu li {
  color: #cccccc;
  display: inline;
  margin-right: 25px;
  font-weight: bold;
  line-height: 7px;
}

#menu ul {
  margin: 0 20px;
  padding-left: 0;
}

#menu a, a.visited {
  color: #666666;
}

#menu a.active {
  color: red;
}

#menu a:hover {
  color: #6474A1;
}

#menu li.action a {
  color: white;
}

.movie {
  margin-bottom: 20px;
  background-color: #111111;
  padding: 20px;
  overflow: hidden;
}

.movie .poster {
  margin-right: 30px;
  width: 185px;
  float: left;
}

.movie_info {
  overflow: hidden;
  width: 450px;
}

.movie_info ul {
  padding: 0;
}

.small-note {
  font-size: 11px;
}

.label {
  font-weight: bold;
}

li {
  list-style-type: none;
  margin-top: 5px;
}

h1 {
  margin-top: 0;
}

ul {
  margin-top: 0;
}

a, a.visited, a.active {
  color: #6474A1;
  text-decoration: none;
}

.top-link {
  float: right;
  position: relative;
  top: -1px;
}

.refresh-icon {
 cursor: pointer;
  float: right;
  margin-right: 5px;
}